<div class="container content">
  
  <h1>Ruteo simple</h1>
  <nav class="nav">
    <a class="nav-link" [routerLink]="['/home']">Home</a>
    <a class="nav-link" [routerLink]="['/destino']">Destino</a>
    
  </nav>
  
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>
  
    <router-outlet></router-outlet>
  
  <hr class="mb-5">
  Fecha {{time | async}}
  
</div>